body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

/* LEFT PLAYER */
.player {
  width: 40%;
  padding: 30px;
  background: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art {
  width: 250px;
  height: 250px;
  background: #2a2a2a;
  border-radius: 20px;
  margin-bottom: 20px;
}

.controls button {
  font-size: 20px;
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background: #333;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background: #555;
}

/* RIGHT SEARCH */
.search {
  width: 60%;
  padding: 20px;
  background: #1a1a1a;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  background: #444;
  color: white;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}

.result {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.result:hover {
  background: #2a2a2a;
}
